@use "../../scss/" as *;

#app-benefits {
  margin-top: 80px;
  .wrapper {
    position: relative;
    overflow: hidden;
    @include tablet {
      text-align: center;
    }
    .title {
      h2 {
        font-weight: 700;
      }
    }
    .slider {
      position: relative;
      transition: transform 0.3s ease-out 0.2s;
      .app-image-1 {
        width: 100%;
      }
      .app-image-2 {
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
      }
      img {
        width: 100%;
      }
    }
    .slide-prev {
      @include btnImg;
      left: 0;
      .prev-icon {
        margin-left: 10px;
      }
    }
    .slide-next {
      @include btnImg;
      right: 0;
    }
    .controls {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px 0;
      margin-bottom: 10px;
      .dot1,
      .dot2 {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: #dadada;
        margin: 5px;
        cursor: pointer;
        transition: all 0.6s;
      }
      .dot-active {
        background-color: $text-color;
      }
    }
    .btn-download-app {
      @include btnRed;
      margin-bottom: 28px;
    }
  }
}
