@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rotateArrowUp {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-180deg);
  }
}
@keyframes height {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

@keyframes scaleIcon {
  from {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
