// color
$bg-color: #f6f6f6;
$bg-gray-color: #f4f4f4;
$bg-hover-color: #edeeef;
$text-color: #1b1b1b;
$border-color: #cbcbcb;
$white-color: #ffffff;
$teal-color: #378694;
$teal-hover-color: #347d8a;
$red-color: #ff0000;
$gray-color: #606060;
$yellow-color: #ebbe00;

//font size
$font-xsm: 0.875rem;
$font-sm: 1rem;
$font-med: 1.25rem;
$font-lg: 1.375rem;
$font-xlg: 2rem;
$font-xxlg: 3rem;

//height
$topHeight: 72px;
